%btn {
  position: relative;
  background: none;
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  transition: background .3s, color .3s;

}