.form-component {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 1em;
}
.form-item {
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding-top: 10px;
  &.error {
    input { border-color: red}
    label {color: red; font-weight: bold;}
  }
  input {
    display: block;
    width: 100%;
    height: 100%;
    border:0;
    border-bottom: 1px solid $border;
    outline: none;
    &:focus {
      border-bottom: 1px solid $color2;
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: #999;
  }
}
.form-action {
  [type="submit"] {
    @extend %btn;
    color: $color2;
    border: 1px solid $color2;
    &:hover {
      background: $color2;
      color: #fff;
    }
    &:disabled {
      cursor: default;
      color: #e7c8c8;
      border-color: #e7c8c8;
      background: none;
    }
    &.loading:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 20px;
      height: 20px;
      margin: -12px 0 0 -12px;
      border: 3px solid #333;
      border-radius: 50%;
      border-left-color: transparent;
      animation: spin 2s infinite linear;
    }
  }
}